.container {
    max-width: 400px;
    margin: 5vh auto 0 auto;
    
    border: 3px solid black;
    border-style:double;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 150px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: lightblue;
    border: 1px solid black;
    color: red;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid black;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: lightgray;
}

#equal {
    background-color: lightblue;
    color: black;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
.button:active{
    background-color: red;
}